{% extends "base.html" %}
<!--  -->
{% block title %}Login{% endblock %}
<!--  -->
{% block body_class %}topic-detail-container-body{% endblock %}
<!-- leave it -->
{% block content%} {% if not lessons_exist %}
<div class="loader">
  <div class="spinner"></div>
  <p>Generating lessons for {{ topic.topic_name }}. Please wait...</p>
</div>
{% else %}

<div id="lesson-container"></div>
<a href="{% url 'profile_page' %}" class="back-link">← Back to Profile</a>

<div class="header">
  <h1>{{ topic.topic_name }}</h1>
  <p>{{ topic.description }}</p>
</div>

{% for lesson in lessons %}
<a href="{% url 'lesson_detail' lesson.id %}">
  <div
    class="lesson-card {% if lesson.id in completed_lessons %}completed{% endif %}"
  >
    <div class="lesson-number">Lesson {{ lesson.order }}</div>
    <div class="lesson-title">{{ lesson.lesson_title }}</div>
    <div class="lesson-duration">{{ lesson.estimated_duration }} minutes</div>
  </div>
</a>
{% endfor %}
<!--  -->
{% endif %} {% endblock %} {% block scripts %}
<!--  -->
{% if not lessons_exist %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const topicId = "{{ topic.id }}";

    // Polling JS function
    async function checkStatus() {
      try {
        const response = await fetch(`/topic/${topicId}/status/`);
        const data = await response.json();

        if (data.ready) {
          clearInterval(interval);
          window.location.reload();
        } else {
          clearInterval(interval);
          window.location.href = `/profile/?error=ai_timeout`;
          return;
        }
      } catch (err) {
        clearInterval(interval);
        console.error("Error checking lesson status:", err);
      }
    }

    const interval = setInterval(checkStatus, 12000);
  });
</script>
{% endif %} {% endblock %}
