<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Login{% endblock %}
<!-- leave it -->
{% block content%}

<div id="lesson-container"></div>
<a href="{% url 'profile_page' %}" class="back-link">← Back to Profile</a>

<div class="header">
  <h1>{{ topic.topic_name }}</h1>
  <p>{{ topic.description }}</p>
</div>

{% for lesson in lessons %}
<a href="{% url 'lesson_detail' lesson.id %}">
  <div
    class="lesson-card {% if lesson.id in completed_lessons %}completed{% endif %}"
  >
    <div class="lesson-number">Lesson {{ lesson.order }}</div>
    <div class="lesson-title">{{ lesson.lesson_title }}</div>
    <div class="lesson-duration">{{ lesson.estimated_duration }} minutes</div>
  </div>
</a>

{% endfor %} {% endblock %}

<!-- <script>
  document.addEventListener("DOMContentLoaded", function () {
    const topicId = "{{ topic.id }}";

    // Polling JS function
    async function checkStatus() {
      try {
        const response = await fetch(`/topic/${topicId}/status/`);
        const data = await response.json();

        if (data.error) {
          clearInterval(interval);
          const msg = encodeURIComponent(
            "An error occured with AI, please try again later."
          );
          window.location.href = `/profile/?error=${msg}`;
          return;
        }

        if (data.ready) {
          clearInterval(interval);
          window.location.reload(); // ✅ Reload full page when lessons are ready
        }
      } catch (err) {
        console.error("Error checking lesson status:", err);
      }
    }

    // check every 8 seconds
    const interval = setInterval(checkStatus, 8000);
  });
</script> -->
<!-- 
<div class="loader">
  <div class="spinner"></div>
  <p>Generating lessons for {{ topic.topic_name }}. Please wait...</p>
</div> -->
